
{% extends 'base.html' %}

{% block content %}
    <div class="alert">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


{% if name %}
    <h1> Salut {{ name }} !!</h1>
{% else %}
    <h1> Quel est votre nom ? </h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label (class="form-label") }}

        {{ form.name(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary mb-3") }}

    </form>

{% endif %}
{% endblock %}